<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>controller.MyContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>controller.AboutServlet</servlet-class>
        <init-param>
            <param-name>geloEmail</param-name>
            <param-value>angelodelapax@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>natEmail</param-name>
            <param-value>nathanael.abrigo@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>geloNumber</param-name>
            <param-value>09564983381</param-value>
        </init-param>
        <init-param>
            <param-name>natNumber</param-name>
            <param-value>09322548363</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextOutputServlet</servlet-name>
        <servlet-class>controller.TextOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>controller.ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnHomeServlet</servlet-name>
        <servlet-class>controller.ReturnHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>welcomeMessage</param-name>
        <param-value>Initialize your Day right!</param-value>
    </context-param>
    <context-param>
        <param-name>weekdayHours</param-name>
        <param-value>7:00 AM - 11:00 PM</param-value>
    </context-param>
    <context-param>
        <param-name>weekendHours</param-name>
        <param-value>8:00 AM - 10:00 PM</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextOutputServlet</servlet-name>
        <url-pattern>/TextOutputServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/ReceiptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnHomeServlet</servlet-name>
        <url-pattern>/ReturnHomeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
        <welcome-file>homepagexmas.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
</web-app>
